/* static/css/base.css */
body{
  font-family: 'Arial';
  /* font-size: 12px;
  color: green; */
}


h4 {
  color: green;
}

h5 {
  color: blue;
}

h4 a {
  color: green;
}

.table {
  font-size: 12px;
}

.table td {
/* text-align: center; */
vertical-align: middle;
}

.bd-links a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 0.75rem;
    font-size: 0.875em;
    color: rgba(0,0,0,0.65);
    text-decoration: none;
    border-radius: .25rem;
}

.bd-links .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    font-size: 1rem;
    color: rgba(1,0,0,0.65);
    background-color: transparent;
    border: 0;
}

.bd-links .btn[aria-expanded="true"] {
    color: rgba(0,0,0,0.85);
}

.bd-links .btn:focus {
    box-shadow: 0 0 0 1px rgb(121 82 179 / 70%);
}

.bd-links .btn:hover, .bd-links .btn:focus {
    color: rgba(0,0,0,0.85);
    background-color: rgba(121,82,179,0.1);
}

.bd-links a:hover, .bd-links a:focus {
    color: rgba(0,0,0,0.85);
    background-color: rgba(121,82,179,0.1);
}

.top {
    background-color: #c7e6bb;
    color: white;
}

.sidebar {
    position: fixed;

}

.right {
  float:right;
}

.module-title {
  color: green;
}

caption{
  /* color:gray; */
    caption-side: top;
}

html {
  scroll-behavior: smooth;
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  /* padding: 0; /* Remove padding */
  /* margin: 0; /* Remove margins */

.class_name {
  float:right;
  color: green;
}
}

.bd-footer{
  font-size: .875rem;
}

.bd-footer-links{
  padding-left: 0;
  margin-bottom: 1rem;
}

.bd-footer-links ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.bd-footer-links li{
  text-align: -webkit-match-parent;
  list-style-type: none;
  display: inline-block;
  margin-left: 1rem;

}

.bd-footer a {
    font-weight: 600;
    color: #495057;
}

/* CAROUSEL STYLES FROM BOOTSTRAP CSS */

.carousel
{
position:relative;
z-index:0;
}

.carousel-inner
{
position:relative;
width:100%;
overflow:hidden;
}

.carousel-indicators
{
height:20px;
top:0px;
right:10px;
margin-top:10px;
margin-right:0px;
margin-left:0px;
justify-content:flex-end;
position:absolute;
z-index:15;
display:flex;
-webkit-box-pack:center;
list-style:none;
}

.carousel{position:relative}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-item{position:relative;display:none;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;transition:-webkit-transform .6s ease;transition:transform .6s ease;transition:transform .6s ease,-webkit-transform .6s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}.carousel-item-next,.carousel-item-prev{position:absolute;top:0}.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translateX(0);transform:translateX(0)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.active.carousel-item-right,.carousel-item-next{-webkit-transform:translateX(100%);transform:translateX(100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-right,.carousel-item-next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translateX(-100%);transform:translateX(-100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}.carousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}.carousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}.carousel-indicators{position:absolute;right:0;bottom:10px;left:0;z-index:15;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}.carousel-indicators li{position:relative;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:rgba(255,255,255,.5)}.carousel-indicators li::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}.carousel-indicators li::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}.carousel-indicators .active{background-color:#fff}.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}

.carousel-indicators
{
    top:0px;
    right:10px;
    margin-top:10px;
    margin-right:0px;
    margin-left:0px;
    justify-content: flex-end;
}

.carousel-indicators .active
{
background-color:#0F61FD;
}

.carousel-indicators > li
{
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: #F0F0F0;
}


/* END OF CAROUSEL STYLES */

.BoxTextInner h2
{
    margin-top:30px;
}

p
{
    margin-top:30px;
    font-family:"objektiv-mk2","Arial",sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:24px;
}

.SearchHeader
{
    font-family:"objektiv-mk2","Arial",sans-serif;
    font-size:24px;
    font-weight:700;
    line-height:36px;
}

.BoxImgBG, .BoxImgBGLeft
{
    display:block;
    height:400px;
    width:50%;
    float:right;
    /* border-style: dashed; */

}

.BoxImgBGLeft
{
    float:left !important;
}

.BoxImgBGSmaller
{
    display:none;
}

.BoxText
{
    display:flex;
    background-color:#fff;
    width:45%;
    height:400px;
    float:left;
    align-items:center;
    margin-left:5%;
    /* border-style:solid; */
}

.BoxTextInner
{
    margin:0 20px 0 auto;
    /* width:400px; */
    /* border-style:dotted; */
}



.TextBox
{
  /* display:flex; */
  background-color:#fff;
  /* width:30%; */
  /* height:400px; */
  /* float:left; */
  align-items:center;
  /* margin-left:5%; */
  /* border-style:solid; */
}

.TextBoxInner
{
  margin:20px 20px 0 auto;
  /* width:400px; */
  /* border-style:dotted; */
}

.ImgBoxs
{
    /* display:block; */
    /* height:400px; */
    /* width:40%; */
    float:right;
    /* border-style: dashed; */
}

.ImgBoxs2
{
    /* display:block; */
    /* height:400px; */
    /* width:60%; */
    width: 200px;
    float:right;
    /* border-style: dashed; */
}

.container-fluid {
  /* border-style: dotted; */
}

.c2{
  margin-top:0px;
  background-color: #fafafa;
}

.log{
  width:60%;
}

.bd-toc a {

  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 0.75rem;
  font-size: 0.875em;
  color: rgba(0,0,0,0.65);
  text-decoration: none;
  border-radius: .25rem;

}
