<!-- risers/templates/risers/scr_shape_form.html -->

{% extends "risers/riser_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block post_content %}
<h4>Calculate a Riser Sizing based on Design/Hydrotest Pressure</h4>

<div class="container my-md-4">
	<div class="row">
		<div class="col-sm-6">
			<img class="plot_png mx-auto d-block img-fluid" src="{% static 'images/risers/SCRsh_example.png' %}"
        alt="Riser Pressure and Location Sketch">
		</div>

		<div class="col-sm-6">

			<form method="POST" id="RiserSizeForm">
				{% csrf_token %}
				{% crispy form %}
					<button type="submit" class="btn btn-primary btn-large">Calculate</button>

					{% if risersizing.pk %}
						<a class="btn btn-small" href="{% url 'risers:Risersizing_single' username=risersizing.user.username pk=risersizing.pk %}"><span class="fa fa-pencil">Cancel</span></a>
					{% endif %}
			</form>

		</div>

	</div>
</div>

{% endblock post_content %}
